{% extends 'base.html' %}
{% block content %}
<div class="card">
  <div class="card-header">
    <h2>Welcome to Gym DBMS</h2>
  </div>
  <div class="card-body">
    <p class="lead">This UI covers rubric requirements (CRUD, Triggers, Procedures/Functions, 3 Queries).</p>
    <ul class="list-group">
      <li class="list-group-item">Manage Members</li>
      <li class="list-group-item">Enroll Members to Plans</li>
      <li class="list-group-item">Make Payments (audited, validated)</li>
      <li class="list-group-item">Run Nested / Join / Aggregate queries</li>
    </ul>
  </div>
</div>
{% endblock %}


